@font-face {
  font-family: "Transat text";
  src: url("https://use.typekit.net/qqh1vxj.css");
}

body {
  font-family: "Transat text", Arial;
}

header {
  background: #bf6930;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 5px;
}

header nav a {
  color: #faf8f5;
  text-decoration: none;
  font-weight: medium;
  font-size: 20px;
  text-transform: uppercase;
  padding: 40px;
}

header nav li {
  display: inline-block;
}

header nav a:hover {
  color: #0a3641;
}

main {
  color: #0a3641;
}
main nav a {
  color: #0a3641;
  text-decoration: none;
  font-weight: medium;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
}

main nav a:hover {
  text-decoration: underline;
}

main nav li {
  display: inline-block;
}

footer,
footer::before,
footer::after {
  background: #95a2a6;
  color: #faf8f5;
  content: " / ";
}

.center {
  text-align: center;
}

.text-wrap {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
