footer {
  color: var(--color01);
  background: var(--color02);
}

footer li,
footer h6 {
  padding: 0.375rem 1rem;
}

footer a {
  color: var(--color01);
}

.f_menu00,
.f_menu03 {
  display: flex;
  margin: auto;
  max-width: 80rem;
}

.f_menu01,
.f_menu02 {
  display: flex;
  justify-content: center;
}

.f_menu03 {
  display: flex;
  margin: auto;
  max-width: 50rem;
  justify-content: space-evenly;
}

.f_email-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 2.5rem;
  width: 18rem;
  color: var(--color05);
  background: var(--color04);
}

.f_email-btn:hover {
  transition: 0.5s;
  background: var(--color01);
}

.f_size01 {
  text-align: center;
  width: 25rem;
  padding: 1rem 0;
}

.f_size02,
.f_size03 {
  width: 12.5rem;
  padding: 1rem 0;
}

.f_size02 a:hover {
  text-decoration: underline;
}

.f_size03 {
  text-align: right;
}

.f_size04,
.f_size05 {
  display: flex;
  justify-content: space-around;
  width: 25rem;
  padding: 1rem 0;
}

@media only screen and (max-width: 834.9px) {
  .f_menu00 {
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
  }

  .f_menu03 {
    flex-flow: column;
    max-width: 25rem;
  }

  .f_item01 {
    width: 100%;
    order: 1;
  }

  .f_item02 {
    flex-flow: column;
    order: 2;
  }

  .f_item03 {
    flex-flow: column;
    order: 3;
  }

  .f_size04 {
    justify-content: space-around;
    margin: auto;
    width: 25rem;
    padding: 1rem 0 0;
  }

  .f_size05 {
    justify-content: space-around;
    margin: auto;
    width: 25rem;
    padding: 0 0 1rem;
  }
}

@media only screen and (min-width: 835px) {
  .f_item01 {
    flex: 1;
    order: 2;
  }

  .f_item02 {
    flex-wrap: wrap;
    order: 1;
  }

  .f_item03 {
    flex-wrap: wrap;
    order: 3;
  }
}
