@import url("https://use.typekit.net/qqh1vxj.css");

:root {
  --color01: #0a3641;
  --color02: #95a2a6;
  --color03: #bf6930;
  --color04: #d9974c;
  --color05: #faf8f5;
  --color06: #ffffff;
  --color07: #bf3030;

  --font01: "transat-text", sans-serif;

  --nav-hight: 4rem;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color01);
  font-family: var(--font01);
  list-style-type: none;
  text-decoration: none;
}

/*body {
  overflow-y: scroll;
}*/

[class^="wrapper"] {
  box-sizing: border-box;
  display: flex;
  margin: auto;
}

.icon01 {
  width: 1.5rem;
}

.icon02 {
  width: 2.5rem;
}

.stars {
  display: flex;
  justify-content: flex-end;
}

/* Spacing */
.spacing01 {
  height: 2rem;
}
.spacing02 {
  height: 4rem;
}
.spacing03 {
  height: 8rem;
}

.spacing04 {
  height: 16rem;
}

/* Color Class*/
.c01 {
  color: var(--color01);
}
.c02 {
  color: var(--color02);
}
.c03 {
  color: var(--color03);
}
.c04 {
  color: var(--color04);
}
.c05 {
  color: var(--color05);
}
.c06 {
  color: var(--color06);
}
.c07 {
  color: var(--color07);
}

/* Background Color Class */
.b01 {
  background: var(--color01);
}
.b02 {
  background: var(--color02);
}
.b03 {
  background: var(--color03);
}
.b04 {
  background: var(--color04);
}
.b05 {
  background: var(--color05);
}
.b06 {
  background: var(--color06);
}

/* Typography */
h1,
.font-h1 {
  font-weight: 700;
  font-size: 2.8125rem;
}
h2,
.font-h2 {
  font-weight: 500;
  font-size: 2.1875rem;
}
h3,
.font-h3 {
  font-weight: 300;
  font-size: 1.25rem;
}
h4,
.font-h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
h5,
.font-h5 {
  font-weight: 500;
  font-size: 0.9375rem;
}
h6,
.font-h6 {
  font-weight: 300;
  font-size: 0.9375rem;
}

/* Border helpers */
/*nav,
div,
span,
ul,
li {
  box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0);
}
