footer {
  padding: 0 1rem;
}

.wrapper-footer {
  max-width: 25rem;
  flex-flow: column;
}

.wrapper-footer li {
  padding: 0.5rem 0;
}

/* EMAIL */
.wrapper-email {
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

.wrapper-email p {
  margin: 0.25rem;
}

.wrapper-email a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 2.5rem;
  color: var(--color05);
  background: var(--color04);
}

.wrapper-email a:hover {
  transition: 0.5s;
  background: var(--color01);
}

/* INFO */
.wrapper-info {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}
.wrapper-info ul {
  width: 50%;
}

.wrapper-info a:hover {
  text-decoration: underline;
}

/* MEDIA */
.wrapper-media {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

.wrapper-media ul {
  width: 50%;
}

.wrapper-media a:hover {
  text-decoration: underline;
}

/* POLICY */
.wrapper-policy {
  flex-flow: column;
  max-width: 25rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.wrapper-policy ul {
  display: flex;
}

.wrapper-policy li {
  width: 50%;
  padding: 0.5rem 0;
}

.wrapper-policy a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .wrapper-footer {
    max-width: 80rem;
    flex-flow: row;
    justify-content: center;
    height: 10rem;
  }

  .wrapper-email {
    order: 2;
    flex: 1;
    height: 100%;
    padding: 1rem 0 0;
  }

  .wrapper-email p {
    margin: 0.25rem 3rem;
  }

  .wrapper-info {
    order: 1;
    flex: 1;
    height: 100%;
    padding: 1rem 0 0;
  }

  .wrapper-media {
    order: 3;
    flex: 1;
    height: 100%;
    text-align: end;
  }

  .wrapper-policy {
    max-width: 50rem;
    justify-content: space-evenly;
    flex-flow: row;
  }

  .wrapper-policy ul {
    width: 50%;
  }
}
