/* BANNER */
.wrapper-banner {
  height: 600px;
  max-height: 30vh;
  min-height: 30vw;

  background-position: center top;
  background-size: cover;
  background-image: url("../images/index_banner_01.jpg");
}

.wrapper-banner > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

.banner-menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  font-weight: 500;
  font-size: 0.9375rem;
}

.banner-btn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 12.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  box-shadow: 0 0 0 1px var(--color01) inset;
  background: var(--color05);
  font-weight: 500;
  font-size: 0.9375rem;
}

.banner-btn a:hover {
  transition: 0.5s;
  color: var(--color05);
  background: var(--color01);
}

/* GRID */
.grid-item01 {
  grid-area: gi01;
}
.grid-item02 {
  grid-area: gi02;
}
.grid-item03 {
  grid-area: gi03;
}
.grid-item04 {
  grid-area: gi04;
}

.grid {
  box-sizing: border-box;
  display: grid;

  grid-template-areas:
    "gi01"
    "gi02"
    "gi03"
    "gi04";
  /*"gi01 gi02 gi04"
    "gi03 gi03 gi04";*/
  grid-gap: 1rem;
  padding: 0 1rem;
  max-width: 40rem;
  margin: auto;
}

.grid div {
  min-height: 20vh;
  max-height: 20vh;
}

.grid-image01 {
  height: 400px;

  background-position: center bottom;
  background-size: cover;
  background-image: url("../images/img_01.jpg");
}

.grid-image02 {
  height: 400px;

  background-position: center;
  background-size: cover;
  background-image: url("../images/img_02.jpg");
}
.grid-image03 {
  height: 400px;

  background-position: center left;
  background-size: cover;
  background-image: url("../images/img_03.jpg");
}

.grid-image04 {
  height: 816px;

  background-position: center;
  background-size: cover;
  background-image: url("../images/img_04.jpg");
}

@media only screen and (min-width: 1024px) {
  /* BANNER */
  .banner-menu {
    width: 50%;
    font-weight: 500;
    font-size: 2.1875rem;
  }

  .banner-btn {
    flex-flow: row;
    width: 25rem;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .banner-btn a {
    max-width: none;
  }

  /* GRID */
  .grid {
    grid-template-areas:
      "gi01 gi02 gi04"
      "gi03 gi03 gi04";
    max-width: 80rem;
  }

  .grid div {
    min-height: 20vh;
    max-height: unset;
  }
}
