body {
  margin: auto;
}

.m_banner-bg {
  height: 600px;
  max-height: 25vh;
  min-height: 30vw;
  background-position: center top;
  background-size: cover;
  background-image: url("../images/index_banner_01.png");
}

.m_cta-menu {
  max-width: 80rem;
  margin: auto;
}

.m-cta-txt {
}

.m_cta-btn {
}

.m_cta-lnk {
}

._grd-idx {
}
