.wrapper-breadcrumb {
  align-items: center;
  padding: 1rem;
  height: 4rem;
  max-width: 80rem;
  user-select: none;
}

.wrapper-breadcrumb li {
  color: var(--color02);
}

.wrapper-breadcrumb li + li:before {
  color: var(--color01);
  content: "\00a0/\00a0";
}

.wrapper-breadcrumb a {
  color: var(--color01);
}

.wrapper-breadcrumb a:hover {
  text-decoration-line: underline;
}

.wrapper-contact {
  flex-flow: column;
  background: var(--color05);
  padding: 0 1rem;
  max-width: 40rem;
}

.wrapper-contact > p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 4rem;
}

.wrapper-contact > ul {
  display: flex;
  flex-flow: row;
  min-height: 8rem;
  border-top: 1px var(--color02) solid;
}
.wrapper-contact ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.wrapper-contact ul li > img {
  width: 2.5rem;
}

.spacing03 {
  border-top: 1px var(--color02) solid;
}

@media only screen and (max-width: 1023.9px) {
  .wrapper-contact {
    min-width: 25rem;
  }

  .wrapper-contact > ul {
    flex-flow: column;
  }

  .wrapper-contact ul > li {
    max-width: 25rem;
    margin: auto;
  }
}
