.wrapper-main {
  flex-flow: column-reverse;
  max-width: 25rem;
}

/* Shipping */
.shipping-tab {
  max-width: 100%;
}

.shipping-tab > div {
  display: flex;
  flex-flow: row;
}

.text-label01,
.text-label02 {
  margin: 1rem;
}

.text-label01 {
  border-bottom: var(--color07) solid;
}

.details ul {
  max-width: 100%;
}

.details li {
  display: flex;
  flex-flow: column;
}

.details ul > ul {
  display: flex;
  justify-content: space-between;
}

.details ul ul > li {
  max-width: 40%;
}

.details li,
.details p {
  padding: 0.5rem 1rem 0rem;
}

.details ul li > input {
  box-shadow: 0 0 0 1px var(--color02) solid inset;
  height: 2rem;
  color: var(--color01);
}
.details ul li > input:focus {
  outline-width: 0;
}

.shipping-text {
  display: flex;
  flex-flow: column;
}

.cta-btn {
  height: 3rem;
  padding: 1rem 1rem 0;
}

.cta-btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color05);
  background: var(--color03);
}

.cta-btn > a:hover {
  transition: 0.5s;
  background: var(--color01);
}

/* Cart */
.cart-tab {
  box-sizing: border-box;
  max-width: 100%;
  background: var(--color05);
}

.cart-tab ul > li {
  padding: 1rem 1rem 0;
}

.product > ul {
  display: flex;
}

.product {
  padding: 1rem;
}

.product ul > img {
  object-fit: cover;
  max-width: 6rem;
}

.description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px black solid;
}

.price-tag {
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-total {
  text-align: end;
}

@media only screen and (min-width: 1024px) {
  .wrapper-main {
    flex-flow: row;
    max-width: 50rem;
  }

  .shipping-tab {
    max-width: 50%;
  }

  .cart-tab {
    max-width: 50%;
  }
}
